.profileInfo > h1 {
  color: #FFF
}

.dashBoardBody {
  display: flex;
  /* justify-content: flex-start; */
  flex-flow: row wrap;
  background: no-repeat center center scroll;
  background-position: cover;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, rgba(233,242,247,1) 0%, rgba(206,222,232,1) 24%, rgba(167,195,211,1) 99%, rgba(209,237,255,1) 100%);
  /* border: solid pink 2px */
}

.dashboard-background-image {
  /* background-image: url('../images/pasta-salad.jpg'); */
  /* position: fixed;
  left: 0%;
  width: 100%;
  height: 108%; */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */

  /* z-index: 0; */
}
.background-animation {
  /* position: fixed;
  opacity: 1;
  left: 0%;
  width: 100%;
  height: 100%;
  /* background-image: url('../images/headbg.svg'); */
  /* background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #6DE7DA;
  z-index: -1; */
}


.profileInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: black;
  z-index: 100;
}


.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  border: solid white 2px;

  height: 200px;
  width: 200px;

  object-fit: contain;
  /* border-radius: 100% */
}

.profile-image {

  max-height: 196px;
  max-width: 196px
}

.dashboard-section-container {
  display: flex;
  flex-direction: column;
  height: 100;
  width: 100%;
  /* max-width: 80rem; */
  border: black 5px;
  margin: 20px;
  /* border: solid blue 2px */
}

.welcome-text {
  font-size: 45px;
  color: white;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 20px 20px;
  height: inherit;
}

.dashboard-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* border: solid black 1px; */
  height: 100vh;
  background-color: grey;
  /* background-opacity: 0.5; */
  border-radius: 25px;
  /* box-shadow: 2px 2px 8px 8px #888888; */
}

.parameter-font {
  color: white;
  border: solid white 1px;
  display: flex;
  justify-content: center
}

.form-field {
  flex-direction: column;
  align-items: flex-start;
}

.profile-image-avatar {
  /* border-radius: 50%; */
  border: solid 5px white;
  padding: 20px
}

.btn {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
}

.btn:hover {
  background: #eee;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tipFeed {
  width: inherit;
}
