.main {
  padding-top: 59px;
  font-family: 'Landmark-Regular', 'Roboto', sans-serif;
  /*height: 96vh;*/
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(8, 157, 200 ,1) 100%);
  /* width: 100vw; */
}

@font-face{ font-family: 'Landmark-Regular'; src: url('../Landmark-Regular.otf')}
@font-face{ font-family: 'Roboto'; src: url('https://fonts.googleapis.com/css?family=Roboto')}


.footer{
  font-family: 'Landmark-Regular', 'Roboto', sans-serif;
  background-color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 4vh;
  line-height: 45px;
  bottom: 0;
  position: fixed;
}
.footer > a {
  color: white;
  padding-right: 35px;
}

.logo-img{
  height:2rem;
}

.navdrop{
  background-color: black;
  border-radius: 3px;
}

.navnav{
  font-family: 'Landmark-Regular', 'Roboto', sans-serif;
  z-index: 1;
  color: white;
  background-color: black;
  text-shadow: 2px 2px #000000;
}

.navbar-nav .dropdown-menu {
  background-color: black;
  cursor: pointer;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #000000 !important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
