
.main {
  font-family: 'Landmark-Regular', 'Roboto', sans-serif;
  width: 100vw;
}

@font-face{ font-family: 'Landmark-Regular'; src: url('../Landmark-Regular.otf')}
@font-face{ font-family: 'Roboto'; src: url('https://fonts.googleapis.com/css?family=Roboto')}

.card{
  -webkit-box-shadow: -15px 13px 45px -8px rgba(0,0,0,0.6);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: row;
}

.card-image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.all-tip-container {
  display: flex;
}

.listGroup-container {
  margin: 10px;
  /* background-color: white; */
  width: inherit;
}

.tip-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  border-radius: 25px;
  justify-content: center;
  width: inherit;
  background-color: rgba(255, 255, 255, .35);
  -webkit-box-shadow: -15px 13px 45px -8px rgba(0,0,0,0.6);
}

.image-container {
  width: 20rem;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}

.info-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 450px;
  padding: 10px;

  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background-image: url('../images/headbg.svg'); */
  border-radius: 25px 25px 25px 25px;
}

.top-info{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  border: blue dotted 1px;
}

.middle-info {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.bottom-info {
  border: solid blue 1px;
  padding: 0;
  margin: 0;
  bottom: 0
}
